[Desktop Entry]
Comment[en_US]=
Comment=
Exec=okular /usr/share/slax/manual.pdf
GenericName[en_US]=User Guide (Manual)
GenericName=User Guide (Manual)
Icon=documentation
MimeType=
Path=
Name=User Guide
Name[ast]=Manual del usuariu
Name[bs]=Uputstvo za korisnika
Name[ca]=Manual d'usuari
Name[cs]=Uživatelská příručka
Name[de]=Benutzerhandbuch
Name[es]=Manual del usuario
Name[fi]=Käyttöohje
Name[fr]=Manuel utilisateur
Name[gl]=Manual do usuario
Name[hu]=Felhasználói kézikönyv
Name[it]=Manuale utente
Name[ja]=ユーザーマニュアル
Name[lv]=Lietotāja rokasgrāmata
Name[ms]=Panduan Pengguna
Name[nb]=Brukerhåndbok
Name[nl]=Gebruikershandleiding
Name[oc]=Manual de l'utilizaire
Name[pt]=Manual de Utilizador
Name[pt_BR]=Manual do usuário
Name[ru]=Руководство пользователя
Name[sk]=Používateľská príručka
Name[sl]=Uporabniški priročnik
Name[sq]=Manuali i Përdoruesit
Name[sr@latin]=Uputstvo korisnika
Name[sr]=Упутство корисника
Name[sv]=Användarhandbok
Name[te]=వాడుకరి కరదీపిక
Name[tr]=Kullanıcı Kılavuzu
Name[uk]=Інструкція користувача
Name[zh_HK]=使用者手冊
Name[zh_TW]=使用者手冊
GenericName=User Guide
GenericName[ast]=Manual del usuariu
GenericName[bs]=Uputstvo za korisnika
GenericName[ca]=Manual d'usuari
GenericName[cs]=Uživatelská příručka
GenericName[de]=Benutzerhandbuch
GenericName[es]=Manual del usuario
GenericName[fi]=Käyttöohje
GenericName[fr]=Manuel utilisateur
GenericName[gl]=Manual do usuario
GenericName[hu]=Felhasználói kézikönyv
GenericName[it]=Manuale utente
GenericName[ja]=ユーザーマニュアル
GenericName[lv]=Lietotāja rokasgrāmata
GenericName[ms]=Panduan Pengguna
GenericName[nb]=Brukerhåndbok
GenericName[nl]=Gebruikershandleiding
GenericName[oc]=Manual de l'utilizaire
GenericName[pt]=Manual de Utilizador
GenericName[pt_BR]=Manual do usuário
GenericName[ru]=Руководство пользователя
GenericName[sk]=Používateľská príručka
GenericName[sl]=Uporabniški priročnik
GenericName[sq]=Manuali i Përdoruesit
GenericName[sr@latin]=Uputstvo korisnika
GenericName[sr]=Упутство корисника
GenericName[sv]=Användarhandbok
GenericName[te]=వాడుకరి కరదీపిక
GenericName[tr]=Kullanıcı Kılavuzu
GenericName[uk]=Інструкція користувача
GenericName[zh_HK]=使用者手冊
GenericName[zh_TW]=使用者手冊
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
