[Desktop Entry]
Name=Software Center
Name[en_US]=Software Center
Name[ar]=مركز البرمجيات
Name[bg]=Управление на софтуер
Name[bs]=Softver Centar
Name[ca]=Centre de programari
Name[ca@valencia]=Centre de programari
Name[cs]=Centrum softwaru
Name[da]=Softwarecenter
Name[de]=Software-Center
Name[el]=Κέντρο λογισμικού
Name[en_GB]=Software Centre
Name[es]=Centro de software
Name[et]=Tarkvarakeskus
Name[eu]=Software-zentroa
Name[fa]=مرکز نرم افزاری
Name[fi]=Sovellusvalikoima
Name[fr]=Logithèque
Name[ga]=Ionad Bogearraí
Name[gl]=Centro de software
Name[he]=מרכז התכנה
Name[hr]=Centar softvera
Name[hu]=Szoftverközpont
Name[id]=Pusat Perangkat Lunak
Name[is]=Hugbúnaðarmiðstöð
Name[it]=Software Center
Name[ja]=ソフトウェアセンター
Name[kk]=Бағдарламалар орталығы
Name[km]=មជ្ឈមណ្ឌល​កម្មវិធី
Name[ko]=소프트웨어 센터
Name[lt]=Programinės įrangos centras
Name[lv]=Programmatūras centrs
Name[nb]=Programvaresenter
Name[nds]=Programmzentrum
Name[nl]=Softwarecentrum
Name[nn]=Programvaresenter
Name[pa]=ਸਾਫਟਵੇਅਰ ਸੈਂਟਰ
Name[pl]=Centrum oprogramowania
Name[pt]=Centro de Software
Name[pt_BR]=Central de programas
Name[ro]=Centrul software
Name[ru]=Центр приложений
Name[si]=මෘදුකාංග මධ්‍යස්ථානය
Name[sk]=Centrum softvéru
Name[sl]=Programsko središče
Name[sr]=Софтверски центар
Name[sv]=Programcentral
Name[th]=ศูนย์ซอฟต์แวร์
Name[tr]=Yazılım Merkezi
Name[ug]=يۇمشاق دېتال مەركىزى
Name[uk]=Центр програмного забезпечення
Name[vi]=Trung tâm phần mềm
Name[zh_CN]=软件中心
Name[zh_TW]=軟體中心
GenericName=Software Center
GenericName[en_US]=Software Center
GenericName[ar]=مركز البرمجيات
GenericName[bg]=Управление на софтуер
GenericName[bs]=Softver Centar
GenericName[ca]=Centre de programari
GenericName[ca@valencia]=Centre de programari
GenericName[cs]=Centrum softwaru
GenericName[da]=Softwarecenter
GenericName[de]=Software-Center
GenericName[el]=Κέντρο λογισμικού
GenericName[en_GB]=Software Centre
GenericName[es]=Centro de software
GenericName[et]=Tarkvarakeskus
GenericName[eu]=Software-zentroa
GenericName[fa]=مرکز نرم افزاری
GenericName[fi]=Sovellusvalikoima
GenericName[fr]=Logithèque
GenericName[ga]=Ionad Bogearraí
GenericName[gl]=Centro de software
GenericName[he]=מרכז התכנה
GenericName[hr]=Centar softvera
GenericName[hu]=Szoftverközpont
GenericName[id]=Pusat Perangkat Lunak
GenericName[is]=Hugbúnaðarmiðstöð
GenericName[it]=Software Center
GenericName[ja]=ソフトウェアセンター
GenericName[kk]=Бағдарламалар орталығы
GenericName[km]=មជ្ឈមណ្ឌល​កម្មវិធី
GenericName[ko]=소프트웨어 센터
GenericName[lt]=Programinės įrangos centras
GenericName[lv]=Programmatūras centrs
GenericName[nb]=Programvaresenter
GenericName[nds]=Programmzentrum
GenericName[nl]=Softwarecentrum
GenericName[nn]=Programvaresenter
GenericName[pa]=ਸਾਫਟਵੇਅਰ ਸੈਂਟਰ
GenericName[pl]=Centrum oprogramowania
GenericName[pt]=Centro de Software
GenericName[pt_BR]=Central de programas
GenericName[ro]=Centrul software
GenericName[ru]=Центр приложений
GenericName[si]=මෘදුකාංග මධ්‍යස්ථානය
GenericName[sk]=Centrum softvéru
GenericName[sl]=Programsko središče
GenericName[sr]=Софтверски центар
GenericName[sv]=Programcentral
GenericName[th]=ศูนย์ซอฟต์แวร์
GenericName[tr]=Yazılım Merkezi
GenericName[ug]=يۇمشاق دېتال مەركىزى
GenericName[uk]=Центр програмного забезпечення
GenericName[vi]=Trung tâm phần mềm
GenericName[zh_CN]=软件中心
GenericName[zh_TW]=軟體中心
Exec=softcenter
Icon=preferences-desktop-default-applications
MimeType=
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
