/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

#downloadsRichListBox {
  /** The default listbox appearance comes with an unwanted margin. **/
  -moz-appearance: none;
  margin: 0;
}

richlistitem {
  margin: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #EBEBEB;
  background: transparent;
  padding: 8px;
}

richlistitem:first-child {
  border-top: 1px solid transparent;
}

richlistitem:last-child {
  border-bottom: 1px solid transparent;
}

#downloadsRichListBox > richlistitem.download {
  height: 5em;
  padding: 5px 8px;
}

.downloadTypeIcon {
  -moz-margin-end: 8px;
  /* Prevent flickering when changing states. */
  min-height: 32px;
  min-width: 32px;
}

.blockedIcon {
  list-style-image: url("chrome://global/skin/icons/Error.png");
}

.downloadTarget {
  margin-bottom: 6px;
  cursor: inherit;
}

.downloadDetails {
  color: #666666;
  cursor: inherit;
}

.downloadButton {
  -moz-appearance: none;
  min-width: 0;
  min-height: 0;
  margin: 0;
  margin-top: -17px;
  border: none;
  background: transparent;
  padding: 5px;
  list-style-image: url("chrome://browser/skin/downloads/buttons.png");
  box-shadow: none;
}

.downloadButton > .button-box {
  padding: 0;
}

/*** Button icons ***/

.downloadButton.downloadCancel {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
richlistitem.download:hover > .downloadButton.downloadCancel {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
richlistitem.download:hover > .downloadButton.downloadCancel:hover {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}
richlistitem.download:hover > .downloadButton.downloadCancel:active {
  -moz-image-region: rect(0px, 64px, 16px, 48px);
}

.downloadButton.downloadShow {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}
richlistitem.download:hover > .downloadButton.downloadShow {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}
richlistitem.download:hover > .downloadButton.downloadShow:hover {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}
richlistitem.download:hover > .downloadButton.downloadShow:active {
  -moz-image-region: rect(16px, 64px, 32px, 48px);
}

.downloadButton.downloadRetry {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}
richlistitem.download:hover > .downloadButton.downloadRetry {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
richlistitem.download:hover > .downloadButton.downloadRetry:hover {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}
richlistitem.download:hover > .downloadButton.downloadRetry:active {
  -moz-image-region: rect(32px, 64px, 48px, 48px);
}

#downloadsListBox  richlistitem {
  transition: 0ms background-color;
}

#downloadsRichListBox > richlistitem.download:hover,
#downloadsRichListBox > richlistitem.download:active,
#downloadsRichListBox > richlistitem.download[selected] {
  color: inherit;
  background-color: #F5F5F5 !important;
  outline: none;
}

.download.download-state .downloadProgress {
  -moz-appearance: none;
  background-image: linear-gradient(to bottom, #e9e9e9 0, #f9f9f9 100%);
  border: 1px solid #a1a1a1;
  border-radius: 3px;
  height: 8px;
  min-height: 8px;
}

.download.download-state .progress-bar {
  -moz-appearance: none;
  background-color: rgb(76, 86, 106);
  background-image: linear-gradient(to bottom, rgb(89, 103, 128) 0,
                                                 rgb(76, 86, 106) 100%);
  border: 1px solid transparent;
  border-bottom-color: rgb(116, 124, 136);
  border-radius: 3px;
  border-top-color: rgb(173, 181, 195);
  box-shadow: 0px 0px 0px 1px rgb(76, 86, 106);
  height: 4px;
  min-width: 4px;
}
